.mb-2 {
  margin-bottom: 2em;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  @include breakpoint(350px down) {
    font-size: 85%;
  }
  @include breakpoint(xlarge) {
    font-size: 120%;
  }
  @include breakpoint(xxxlarge) {
    font-size: 160%;
  }
  @include breakpoint(3000px) {
    font-size: 200%;
  }
}

body {
  background-color: #fafafa;
}

.pb-1 {
  padding-bottom: 1em;
}

a:not(.button) {
  text-decoration: underline;
}

.body-top-bar {
  width: 100%;
  border-bottom: 7px solid $primary-color;

  @include breakpoint(xxxlarge) {
    border-width: 12px;
  }
}

.site-container {
  max-width: 1920px;
  min-height: calc(100vh - 12px);
  margin-left: auto;
  margin-right: auto;
  background-color: $white;

  @include breakpoint(3000px) {
    max-width: 2880px;
  }
}

.grid-container {
  max-width: $global-width-sm;

  @include breakpoint(medium) {
    max-width: $global-width;
  }
}

.topbar {
  padding-top: 3em;
  padding-bottom: 3em;
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
    padding-bottom: 5em;
  }

  img {
    width: 240px;
    margin-bottom: 2em;

    @include breakpoint(medium only) {
      width: 270px;
    }

    @include breakpoint(large) {
      margin-bottom: 0;
    }

    @include breakpoint(large) {
      margin-bottom: 0;
    }

    @include breakpoint(xxxlarge) {
      width: 370px;
    }
  }
}

.video-container {
  position: relative;

  &.vimeo {
    padding: 56.25% 0 0 0;
    overflow: hidden;
  }

  &:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-left: 2em solid transparent;
    border-bottom: 2em solid transparent;
    border-top: 2em solid $white;
  }

  video {
    width: 100%;
  }
}

.video-info {
  padding-top: 1.5em;
  padding-bottom: 2.5em;

  h2 {
    color: $primary-color;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0.3rem;
  }
  .video-date {
    font-weight: normal;
    color: $medium-gray;
  }
}

.container-grey {
  background-color: $light-gray;
  margin-top: 3em;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-left: 3.5em solid transparent;
    border-bottom: 3.5em solid transparent;
    border-top: 3.5em solid $white;
  }

  h2 {
    margin-bottom: 1.5rem;

    @include breakpoint(medium) {
      margin-bottom: 3rem;
    }
  }
}

.color-primary {
  color: $primary-color;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.logo-buttons {
  margin-bottom: 1em;
  text-align: center;

  @include breakpoint(medium) {
    margin-bottom: 3em;
  }

  div {
    margin-bottom: 2em;

    @include breakpoint(medium) {
      float: left;
      margin-bottom: 0;
    }
    
    &:not(:last-child) {
      @include breakpoint(medium) {
        margin-right: 2em;
      }
    }  
    &:first-child {
      img {
        max-width: 270px;

        &.logo_signifor {
          padding-right: 1em;
        }
      }
    }
  }
}

.button.corner {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 0;
    height: 0;
    border-left: 0.8em solid transparent;
    border-bottom: 0.8em solid transparent;
    border-top: 0.8em solid $white;
  }

  &.light-gray {
    &:after {
      border-top-color: $light-gray;
    }
  }
}

.container-footer {
  background-color: $primary-color;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: $white;

  &.stick-to-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer {
    justify-content: space-around;

    > div:first-child {
      @include breakpoint(small down) {
        margin-bottom: 2em;
      }
    }

    .imprint-container {
      > div {
        text-align: center;
        
        @include breakpoint(medium) {
          display: inline-block;
        }

        &:first-child {
          @include breakpoint(small down) {
            margin-bottom: 2em;
          }
          @include breakpoint(medium) {
            margin-right: 2em;
          }
        }
      }
    }
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.mainframe-container {
  width: 100%;
  height: 100%;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.login-frame {
  display: flex;
  justify-content: center;
}
